@import "tailwindcss";

@theme {
  --color-primary: #CC6677;
  --color-primary-dark: #B35566;
  --color-bg-light: #F4F4F4;
  --color-text-main: #222222;
  --font-inter: "Inter", sans-serif;
}

:root {
  font-family: var(--font-inter);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #222;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: white;
  color: #111827;
}

.glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.premium-card {
  transition: all 0.3s ease;
}

.premium-card:hover {
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.1);
}

.text-spaced {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
}

.btn-minimal {
  background-color: var(--color-primary);
  color: white;
  padding: 0.75rem 2rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-minimal:hover {
  background-color: var(--color-primary-dark);
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 20
}

.custom-scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}